[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
django-environ = "*"
"psycopg2-binary" = "*"
django-extensions = "*"
django-model-utils = "*"

[requires]
python_version = "3.6"
