[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"
flake8-django = "*"
pre-commit = "*"

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
django-model-utils = "*"
psycopg2-binary = "*"
gunicorn = "*"
coverage = "*"

[requires]
python_version = "3.7"
